.bg-blue {
    background-image: linear-gradient(to right, #2892D7, #480355);
}
.b-bot {
    border-bottom: 2px solid black;
}
.btn-style {
    background-color: #2892D7;
    color: white;
}
.today-style {
    border: 1px solid black;
}
.card-style {
    background-color: #001242;
    color: white;
}
.btn-gray {
 background-color: gray;
}
.city-list {
    padding-left: 0;
}