.bg-blue {
    background-image: linear-gradient(to right, #2892D7, #480355);
}
.b-bot {
    border-bottom: 2px solid black;
}
.btn-style {
    background-color: #2892D7;
    color: white;
}
.today {
    border: 1px solid black;
}